{% extends "LimeUserBundle:Profile:profile_layout.html.twig" %}

{% block admin_classes %}active{% endblock %}

{% block admin_icon_white %}icon-white{% endblock %}

{% block profile_content %}
    <h1>Admin Panel</h1>
    {% block admin_content %}{% endblock %}
{% endblock %}