{% extends 'LimeAdminBundle::layout.html.twig' %}

{% block admin_content %}
    <div>
        <ul class="nav nav-list">
            <li>
                <a href="{{ path('lime.admin.config.index') }}">
                    <i class="icon-list-alt"></i>
                    Site Configuration
                </a>
            </li>
            <li>
                <a href="{{ path('lime.admin.message.list') }}">
                    <i class="icon-envelope"></i>
                    Messages {% render 'LimeAdminBundle:Default:getUnreadMessages' %}
                </a>
            </li>
            <li>
                <a href="{{ path('lime.user.admin.index') }}">
                    <i class="icon-user"></i>
                    User List
                </a>
            </li>
        </ul>
    </div>
{% endblock %}