{% extends 'LimeAdminBundle::layout.html.twig' %}

{% block admin_content %}
<table class="table table-striped table-bordered table-condensed">
    <tbody>
        <tr>
            <td>Subject</td>
            <td>{{ message.subject }}</td>
        </tr>
        <tr>
            <td>Date Created</td>
            <td>{{ message.createdAt|date('m/d/Y') }}</td>
        </tr>
        <tr>
            <td>Body</td>
            <td>{{ message.body|raw }}</td>
        </tr>
    </tbody>
</table>
<a href="{{ path('lime_admin_message_unread',{slug:message.slug}) }}" class="btn btn-primary">Mark Unread</a>
{% endblock admin_content %}