{% extends '::base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
{% endblock %}


{% block content %}
<div>
    
</div>
{% endblock content %}

{% block footer_scripts %}
{{ parent() }}
{% endblock %}