{% extends '::base.html.twig' %}
{% block html_attributess %}
{% endblock %}


{% block header_scripts %}
    {{ parent() }}
{% endblock header_scripts %}

{% block stylesheets %}
    {{ parent() }}
{% endblock stylesheets %}

{% block content %}
    <div>
        <h1>Home</h1>
    </div>
{% endblock content %}